{% extends 'base.html' %}

{% block title %}Blog Page{% endblock %}

{% block content %} 
    <div>Note: Page allow a user to insert multiple blog post.</div>

    <br/>

    <div>    
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    </div>

    <div class="shadow p-3 mb-5 bg-white rounded card">
   
        <h1>Blog Register</h1>
        <br/>

        <form method="POST">
            {{form.hidden_tag()}}

            {{form.title.label(class="form-label")}}
            {{form.title(class="form-control")}}
            </br>
            

            {{form.author.label(class="form-label")}}
            {{form.author(class="form-control")}}
            </br>

            {{form.slug.label(class="form-label")}}
            {{form.slug(class="form-control")}}
            </br>

            {{form.content.label(class="form-label")}}
            {{form.content(class="form-control", rows="5")}}
            </br>

            {{form.submit(class="btn btn-secondary")}}
        </form>

{% endblock %}