{% extends 'base.html' %}

{% block title %}Form Page{% endblock %}

{% block content %} 
    <div>Note: Page allow multiple user to insert info in form.</div>

    <br/>

    <div>    
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    </div>

    <div class="shadow p-3 mb-5 bg-white rounded card">
        {% if name %}
        <h1>Hello {{name}}. Welcome to your personal page.</h1>

        {% else %}

        <h1>User Registers</h1>
        <br/>

        <form method="POST">
            {{form.hidden_tag()}}

            {{form.name.label(class="form-label")}}
            {{form.name(class="form-control")}}
            </br>
            
            {{form.email.label(class="form-label")}}
            {{form.email(class="form-control")}}
            </br>

            {{form.fav_color.label(class="form-label")}}
            {{form.fav_color(class="form-control")}}
            </br>

            {{form.password_hash.label(class="form-label")}}
            {{form.password_hash(class="form-control")}}
            </br>

            {{form.password_hash2.label(class="form-label")}}
            {{form.password_hash2(class="form-control")}}
            </br>

            {{form.submit(class="btn btn-secondary")}}
        </form>
        {% endif %}
    </div>

    <br/><br/><br/>
    <h3>Registered User List</h3>

    <table class="table table-hover table-bordered table-striped" style="text-align: center">

    {% for our_user in our_users %}
        <tr>  
            <td>
                {{our_user.id}}. <a href="{{url_for('update', id=our_user.id)}}">{{our_user.name}}</a> 
                - {{our_user.email}} 
                - {{our_user.fav_color}} 
                - <a href="{{url_for('delete', id=our_user.id)}}">Delete</a>
                - PW: {{our_user.password_hash}}
            </td>
        </tr>
    {% endfor %}

    </table>

{% endblock %}