{% extends 'base.html' %}

{% block title %}Page Not Found{% endblock %}

{% block content %}

    <div style="text-align: center">
        <img src="../static/images/y_combinator_logo.png" style="width: 5%" class="rounded">
    </div>

    <link rel="stylesheet" href="{{url_for('static', filename='styles/admin.css')}}">

    </br>
    
    <div class="card">
        <div class="card-header" style="background-color: #f6f6ef;">
            <h1>Admin - Users Management</h1>
        </div>
        
        </br>

        <table class="table table-hover table-bordered table-striped" style="text-align: center">
        
            <div class="card-deck row">
        
            {% for user in users_list %}
        
                <div class="col-sm-6 mb-3">
                    <div class="card" style="background-color: #f6f6ef;">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" style="background-color: #f6f6ef;">
                                    <h5 class='card-title'>
                                        {% if user.id == current_user.id %}
                                            <a href="{{url_for('dashboard')}}">{{user.name}}</a></br> 
                                        {% else %}
                                            <a href="{{url_for('view_dashboard', id=user.id)}}">{{user.name}}</a></br> 
                                        {% endif %}
                                    </h5>  
                                </li>
                                <li class="list-group-item" style="background-color: #f6f6ef;">
                                    <p class="card-text">- <b>ID:</b> {{user.id}}.</p>
                                    <p class="card-text">- <b>Date:</b> {{user.date_added}}.</p>
                                    <p class="card-text">- <b>Username:</b> {{user.username}}.</p>
                                    <p class="card-text">- <b>Email:</b> {{user.email}}.</p>
                                    <p class="card-text">- <b>Hashed Password:</b> <i>{{user.hashed_password}}</i>.</p>
                                    <a href="{{url_for('delete', id=user.id)}}" class="btn btn-danger">Delete</a> 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            {% endfor %}
        
            </div>
        
        </table>
        <h6 class="card-footer" style="text-align: center; background-color: #f6f6ef;"><i>This website is created by Minh T. Nguyen</i></h6>
    </div>

{% endblock %}