{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %} 

<div class="card" style="text-align: center;">
    <h1 class="card-header" style="background-color: #f6f6ef;">Welcome to Hacker News</h1>
    <div class="card-body">
        <div>
            <img src="../static/images/y_combinator_logo.png" style="width: 5%" class="rounded">
        </div>

        </br>
        
        <p class="card-text"><i>
            <div><b>"Nothing else you do will matter if you're not making something people want."</b></div>
            <div>Jessica Livingston (Y Combinator's Founding Partner)</div>
            </i></p>

        <a href="{{url_for('view_all_posts')}}" class="btn btn-primary">Latest News</a>

    </div>
    <h6 class="card-footer" style="background-color: #f6f6ef;"><i>This website is created by Minh T. Nguyen</i></h6>
  </div>

{% endblock %}