<link rel="stylesheet" href="{{url_for('static', filename='styles/navbar.css')}}">

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f0652f;">
    <a class="navbar-brand" href="/"><b>Hacker News</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('view_all_posts')}}" style="color: black">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('create_post')}}" style="color: black">Create Post</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('dashboard')}}" style="color: black">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('logout')}}" style="color: black">Logout</a>
            </li>
            {% if current_user.id == 3 %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('admin')}}" style="color: black">Admin</a>
            </li>
        {% endif %}
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for("sign_up")}}" style="color: black">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('login')}}" style="color: black">Login</a>
            </li>
            {% endif %}
        </ul>
        <form method="POST" action="{{url_for('search')}}" class="form-inline my-2 my-lg-0">
            {{ form.hidden_tag() }}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searched" style="color: black; background-color: #f6f6ef;">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" style="color: black">Search</button>
        </form>
    </div>
  </nav>