<link rel="stylesheet" href="{{url_for('static', filename='styles/navbar.css')}}">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <div class="logo-image">
            <img src="static/images/y_combinator_logo.png" style="width: 75%" class="rounded">
        </div>
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('view_all_posts')}}"><b>News</b></a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('dashboard')}}"><b>Dashboard</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('logout')}}"><b>Logout</b></a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for("sign_up")}}"><b>Sign Up</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('login')}}"><b>Login</b></a>
            </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="{{url_for('create_post')}}"><b>Create Post</b></a>
            </li>
        </ul>
        <form method="POST" action="{{url_for('search')}}" class="form-inline my-2 my-lg-0">
            {{ form.hidden_tag() }}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searched">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
  </nav>