{% extends 'base.html' %}

{% block title %}Blog Page{% endblock %}

{% block content %} 
    <div>Note: Page allow a user view all posts.</div>

    <br/>

    <div>    
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    </div>

    <h1>Blogs Page</h1>

    </br>

    <div class="shadow p-3 mb-5 bg-white rounded card">
    <div>
        Title: {{post.title}}</br>
        Author: {{post.poster.name}}</br> 
        Slug: {{post.slug}}</br>
        Post Date: {{post.date_posted}}</br>
        Content: {{post.content}}</br>
    </div>
    
    </br>

    <div>
        <button type="button" class="btn btn-primary btn-sm"><a href="{{url_for('posts')}}">Back to Blogs</a></button>
        {% if post.poster_id == current_user.id %}
            <button type="button" class="btn btn-info btn-sm"><a href="{{url_for('edit_post', id=post.id)}}">Edit Post</a></button>
            <button type="button" class="btn btn-danger btn-sm"><a href="{{url_for('delete_post', id=post.id)}}">Delete Post</a></button>
        {% endif %}
    </div>

    </div></br>

{% endblock %}