{% extends 'base.html' %}

{% block title %}Test Password{% endblock %}

{% block content %} 
    <div>Note: Page allow us to test password encryption mechanism.</div>

    <br/>

    <div>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Hey {{name}}, {{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    </div>

    {% if email %}
        <h1>Email {{email}}</h1>
        <h1>Password {{password}}</h1>
        <h3>I found this info:</h3>
        <p>Name: {{pw_to_check.name}}</p>
        <p>Email: {{pw_to_check.email}}</p>
        <p>PW: {{pw_to_check.password_hash}}</p>
        <p>Matched Password? {{passed}}</p>

    {% else %}
        <br/>
        <form method="POST">
            <h1>{{form.hidden_tag()}}</h1>
            {{form.email.label(class="form-label")}}
            {{form.email(class="form-control")}}
            
            <br/>
            {{form.password_hash.label(class="form-label")}}
            {{form.password_hash(class="form-control")}}

            </br>
            {{form.submit(class="btn btn-secondary")}}
        </form>
    {% endif %}
{% endblock %}