{% extends 'base.html' %}

{% block title %}Update Form Page{% endblock %}

{% block content %} 
    <div>Note: Page allow multiple user to insert info in form.</div>

    <br/>

    <div>    
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    </div>

    <div class="shadow p-3 mb-5 bg-white rounded">
        {% if name %}
        <h1>Hello {{name}}. Welcome to your personal page.</h1>

        {% else %}

        <h1>Updated User Registers</h1>
        <br/>

        <form action="/update/{{ name_to_update.id }}" method="POST">
            {{form.hidden_tag()}}

            {{form.name.label(class="form-label")}}
            {{form.name(class="form-control", value=name_to_update.name)}}
            </br>
            
            {{form.username.label(class="form-label")}}
            {{form.username(class="form-control", value=name_to_update.username)}}
            </br>

            {{form.email.label(class="form-label")}}
            {{form.email(class="form-control", value=name_to_update.email)}}
            </br>

            {{form.fav_color.label(class="form-label")}}
            {{form.fav_color(class="form-control", value=name_to_update.fav_color)}}
            </br>

            {{form.submit(class="btn btn-secondary")}}
            
            <a href="{{url_for('delete', id=name_to_update.id)}}" class="btn btn-danger">Delete</a>
        </form>

        {% endif %}
    </div>

    <br/><br/><br/>
    <h3>Current Users Info</h3>

    <table class="table table-hover table-bordered table-striped" style="text-align: center">
    <tr>  
        <td>
            {{name_to_update.id}}. {{name_to_update.name}} - {{name_to_update.email}} - {{name_to_update.fav_color}}
        </td>
    </tr>
    </table>

{% endblock %}