{% extends 'base.html' %}

{% block title %}Post{% endblock %}

{% block content %} 
    <div>    
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    </div>

    <h1>Post</h1>

    </br>

    <div class="shadow p-3 mb-5 bg-white rounded card">
    <div>
        <b>Title:</b> {{post.title}}</br>
        <b>Author:</b> {{post.poster.name}}</br> 
        <b>Post Date:</b> {{post.date_posted}}</br>
        <b>Content:</b> {{post.content | safe}}</br>

        <div class='card mb-3'>
            <div class='row no-gutters'>
                <div class='col-md-2'>
                    {% if post.poster.profile_pic %}
                        <img src="{{url_for('static', filename='user_images/' + post.poster.profile_pic)}}" width='150' align='left'>
                    {% else %}
                        <img src="{{url_for('static', filename='user_images/reddit_default.png')}}" width='150' align='left'>
                    {% endif %}
                </div>
                <div class='col-md-10'>
                    <div class='card-body'>
                        <h5 class='card-title'>
                            {% if post.poster.id == current_user.id %}
                                Author: <a href="{{url_for('dashboard')}}">{{post.poster.name}}</a></br> 
                            {% else %}
                                Author: <a href="{{url_for('view_dashboard', id=post.poster.id)}}">{{post.poster.name}}</a></br> 
                            {% endif %}
                        </h5>
                        <p>
                            {% if post.poster.about_author %}
                                About: {{post.poster.about_author}}</br>
                            {% else %}
                                About: Author has not specified this area yet!
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </br>

    <div>
        <button type="button" class="btn btn-primary btn-sm"><a href="{{url_for('view_all_posts')}}">Back to Blogs</a></button>
        {% if post.poster_id == current_user.id %}
            <button type="button" class="btn btn-info btn-sm"><a href="{{url_for('edit_post', id=post.id)}}">Edit Post</a></button>
            <button type="button" class="btn btn-danger btn-sm"><a href="{{url_for('delete_post', id=post.id)}}">Delete Post</a></button>
        {% endif %}
    </div>

    </div></br>

{% endblock %}